<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li>{% include icon-gmail.html username=site.gmail_username %}</li>
          <li>{% include icon-goodreads.html username=site.goodreads_username %}</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li>{% include icon-github.html username=site.github_username %}</li>
          <li>{% include icon-linkedin.html username=site.linkedin_username full_name=site.full_name %}</li>
        </ul>
      </div>
    
      <div class="footer-col footer-col-1">
        <a href=https://martiansideofthemoon.github.io/>Template Credits</a> 
      </div>
    </div>

  </div>

</footer>
